---
import Layout from "../layouts/Layout.astro";

const hoteles = [

];
---

<Layout title="Certamen de Tunas 2025">
    <h1>Hoteles</h1>
    <div style="display: flex; flex-direction: column; gap: 1rem; align-items: center;">
        {hoteles.map((hotel, i) => (
          <p>{i + 1}. {hotel}</p>
        ))}
    </div>
</Layout>
