---
import Layout from "../layouts/Layout.astro";

const premios = [
    "1ª mejor tuna de todo el certamen",
    "2ª mejor tuna de todo el certamen",
    "3ª mejor tuna de todo el certamen",
    "Mejor actuación en el escenario",
    "Mejor pasacalles",
    "Mejor ronda",
    "Mejor cantante solista",
    "Mejor pandereta",
    "Mejor bandera",
    "Tuna más simpática"
];
---

<Layout title="Certamen de Tunas 2025">
    <h1>Premios</h1>
    <div style="display: flex; flex-direction: column; gap: 1rem; align-items: center;">
        {premios.map((premio, i) => (
          <p>{premio}</p>
        ))}
    </div>
</Layout>
